@import url(https://fonts.googleapis.com/css2?family=Poppins);
@import url(https://fonts.googleapis.com/css2?family=Oswald);

  body {
    background-color: #F9F9F9;
    margin: 0px;
height: 100%;
  }
  
  .title1 {
    font-family: Oswald;
    font-weight: bold;
    font-size: 60px;
    line-height: 15px;
    font-weight: 600;
    text-align: center;
    color: #2A4D9B;
  }
  
  .title2 {
    font-family: Oswald;
    font-size: 45px;
    line-height: 55px;
    font-style: italic;
    text-align: center;
    color: #2E2E2E;
  }
  
  .column {
  float: left;
  width: 40%;
  padding: 5px;
}

  .linkcoll, linkcolr{
    width: 40%;
    }

  .textcolumn {
  float: left;
  width: 60%;
  padding: 5px;
  margin: 20px;
}

  .imgcolumn {
  float: left;
  width: 30%;
  padding: 5px;
  margin: 20px;
}

  .row {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
}


  .linkrow {
    margin-top: 70px;
    margin-bottom: 70px;
display:flex;
justify-content: space-between;
  }

  .nolink {
    font-family: Poppins;
    color: black;
    opacity: 60%;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
padding: 20px;
  }
  
  .linked {
    color: black;
    font-family: Poppins;
    margin: 0;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
font-weight:bold;
padding: 20px;
  }

.linked:hover {
background-color: #FFC20E; 
color: black !important; 
border-radius: 20%;
}
  
  .exptext {
    color: #2E2E2E;
    font-family: Poppins;
    text-align: justify;
    font-size: 20px;
    margin-left: 45px;
    margin-right: 50px;
    padding-top: 80px;
  }
  
  .bgexptext{
    width: 100%;
    height: auto;
    max-height: 50%;
    min-height: 65vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #F9F9F9, #2A4D9B 70px);
    margin-top: 0px;
    padding-top: 0px;
    margin-top: 0;
    position: relative;
  }
  
  .navbar {
    background-color: #2A4D9B;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative; 
margin-bottom: 50px;
  }
  
  .navlogo{
  padding-left: 20px;
  height: 100%;
  width: auto;
  }
  
    .navlogo img{
  padding-left: 20px;
  height: 100%;
  width: auto;
  }
  
  .navlinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  gap: 30px;
}

  .navlinks a {
    color: white;
    text-decoration: none;
    font-family: Poppins;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
  }
  
  .navlinks a:hover {
    color: black;
    text-decoration: none;
    font-family: Poppins;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 20%;
    background-color: #FFC20E;
}

  .gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 200px;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  }
  
  .gallerypic{
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  }
  
  .gallerypic:hover{
  border: 1px solid #777;
  }
  
  .gallerypic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

.galleryvid {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
  width: 100%;
  height: 100%;
}
  
  .gallerycarousel {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
  width: 100%;
  height: 100%;
}
  
  .gallerycarousel * {box-sizing: border-box;}

  .carophotos, {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  .carophotos img, .galleryvid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.chartcon {
  width: 80%;                  
  max-width: 700px;            
  margin: 20px auto;           
  padding: 25px;
  display: flex;
  flex-direction: column;      
  align-items: center;         
  justify-content: flex-start; 
  text-align: center;
  border: 1px solid #ccc;      
  background-color: #E6E6E6;   
}

.chartcon h1 {
  margin-bottom: 45px;
}

.chart {
  width: 100%;
  height: 400px;
  display: block;
}