@import url(https://fonts.googleapis.com/css2?family=Poppins);
@import url(https://fonts.googleapis.com/css2?family=Oswald);

  body {
    background-color: beige;
    margin:0px;
    overflow: hidden;
    max-height: 100vh;
  }
  
  .title1 {
    font-family: Oswald;
    font-weight: bold;
    font-size: 60px;
    line-height: 15px;
    font-weight: 600;
    text-align: center;
    color: #000000;
  }
  
  .title2 {
    font-family: Oswald;
    font-size: 45px;
    line-height: 55px;
    font-style: italic;
    text-align: center;
    color: black;
  }
  
  .column {
  float: left;
  width: 40%;
  padding: 5px;
}

  .linkcoll{
    float: left;
    width: 40%;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .linkcolr{
    float: right;
    text-align: right;
    width: 40%;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .textcolumn {
  float: left;
  width: 60%;
  padding: 5px;
  margin: 20px;
}

  .imgcolumn {
  float: left;
  width: 30%;
  padding: 5px;
  margin: 20px;
}

  .row {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
}

  .nolink {
    font-family: Poppins;
    color: black;
    opacity: 60%;
    margin: 0;
    margin-left: 20px;
    font-size: 30px;
  }
  
  .linked {
    color: black;
    font-family: Poppins;
    margin: 0;
    margin-right: 20px;
    font-size: 30px;
  }
  
  .exptext {
    color: black;
    font-family: Poppins;
    text-align: justify;
    font-size: 20px;
    margin-left: 45px;
    margin-right: 50px;
    padding-top: 80px;
  }
  
  
  .bgexptext{
    width: 100%;
    height: 2300px;
    height: auto;
    max-height: 50%;
    min-height: 2300px;
    overflow: hidden;
    background: linear-gradient(to bottom, white, #0066ff 70px);
    margin-top: 0px;
    padding-top: 0px;
    margin-top: 0;
    position: relative;
  }
  
  .navbar {
    background-color: #0066ff;
    overflow: hidden;
    width: 100%;
    height: 100px;
  }
  
  .navbar a {
    float: left;
    color: black;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Poppins;
    font-size: 25px;
    height: 100%;
    font-weight: bold;
}

  .navbar a:hover {
    background-color: #ddd;
    color: black;
}

  .navbar a.active {
    background-color: yellow;
    color: black;
}

  .carocon{

  }